.serch_section .search_tab{
display: -webkit-flex;
display: flex;
width: 60%;
}
.serch_section .tab_details button{
width: 100%;
background: white;
border: 1px solid black;
font-size: 13px;
font-weight: bold;
position: relative;
cursor: pointer;
text-align: left;
padding: 7px 15px 6px 10px;
}